/*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;   
    align-items: flex-start; 
    width: 250px;             
    margin: 1.5rem auto;
}


